
header {
    background: rebeccapurple;
}

main {
    background: beige;
}


header h1 {
    
    font-weight: bold;
    font-size: 45pt;
    text-align: center;
    padding: 15px;
}

header h1 a {
    text-decoration: none;
    color: rgb(30, 1, 1)
}
nav {
    background: ivory;
    text-align: center;
}

nav li {
    color: rgb(30, 1, 1);
    display: inline-block;
    font-weight: 400;
    font-size: 25px;
    padding: 5px 10px;
}

nav li:hover {
    background: rgb(83, 63, 63);
}

nav li a {
    color: rgb(83, 63, 63);
    text-decoration: none;
}

nav li:hover a {
    color: ivory;
}

main {
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
}


nav li:hover {
    color: ivory;
}

main h2 {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: rgb(83, 63, 63);
}

button {
    font-size: 20px;
    margin: 15px;
}

section.upper {
    padding: 10px;
    font-size: 20px;

}

section.lower p {
    text-align: center;
    font-size: 22px;
}

section.lower {
    display: inline-block;
    margin: 20px;
    color: rgb(83, 63, 63);
    padding: 10px;

}

section.lower ul a {
    color: rgb(83, 63, 63);
    text-decoration: none;
}

section.lower p {
    font-style: italic;
}



section.content {
    width: 90%;
    margin: auto;
}

section.CTA {
    text-align: center;
    color: rgb(83, 63, 63);
    font-size: 20px;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

section.bottom {
    padding: 10px;
    margin: 10px;
}

